body {
        background-color:darkseagreen;
        text-align:center;
        color:darkgreen;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size:xx-large;
}

img {
    border-radius: 20px;
}